<div class="content-frame">
  <div class="list-frame">
    <div class="list-header">
      <br>
      <h2 style="font-size: 35px;" align="center">Lista chorób:</h2>
      <br>
      <hr style="height: 5px; width:85%; background-color: white; border-radius: 5px;">
      <br>
    </div>
    <div class="list-body">
      <ul>
        <div *ngFor='let disease of diseasesList'>
          <li title="{{disease.description}}">{{disease.name}}</li>

        </div>
      </ul>
      <div>
        <h1>{{disease[0].name}}</h1><br>
        <h3>{{disease[0].description}}</h3>

      </div>

    </div>
  </div>
</div>

