<div class="content-frame">
  <div style="display:flex; margin-right:20px;" class="main-content">
    <img src="assets/main1.png" alt="" style="width:45%; height:45%;" >
    <div class="text"><h3>Aplikacja umożliwia wstępną diagnostykę wybranych chorób na podstawie udzielonych w kwestionariuszu odpowiedzi dotyczących objawów chorobowych.</h3></div>
  </div>
  <div class="questionnaire-nav">
    <br>
    <button align="center" id="btn-questionnaire"><a routerLink="/questionnaire" routerLinkActive="active">Wypełnij kwestionariusz</a></button>
    <br>
  </div>
</div>
