//light theme colors

$navbar-bkg: #8ee4f563;
$navbar-text: #4C1164;
$navbar-highlight: #E1FAFF78;
$navbar-spacer: black;
$navbar-frame: black;
$main-text: #8EE3F5;
$main-button-bkg: #8EE3F567;
$main-button-text: #4C1164;
$main-button-frame: #4C116444;
$form-bkg: #8EE3F565;
$form-text: #4C1164;
$form-spacer: white;
$form-frame: white;
$form-button: #FFFFFF65;
$form-button-highlight: white;
