<div class="content-frame">
  <div class="test-frame">
    <div class="test-header">
      <h2 style="font-size:35px; margin: 20px; margin-bottom:35px;" align="center">Pytanie:</h2>
      <hr style="height: 5px; width:95%; background-color: white; border-radius: 5px;">
      <br>
    </div>
    <div class="list-body">
      <div class="question">
        <h1 style="font-size:25px; margin: 20px;" align="center">Treść pytania</h1>
        <br>
      </div>
      <div class="answers">
        <button align="center" id="btn-positive">Tak</button><br>
        <button align="center" id="btn-negative">Nie</button><br>
        <button align="left" id="btn-previous">Cofnij</button>
        <button align="right" id="btn-next">Dalej</button>
      </div>
    </div>
  </div>
</div>
