<div class="header-navbar">
  <div class="navbar">
    <nav>

      <ul class="menuItems">
        <li class="logo" style="height:50px; padding:0px; margin:0px; padding-left:20px; padding-bottom:15px; margin-left:25px; padding-right:30px; margin-top:-10px;"><span class="logo"><a routerLink="/home" routerLinkActive="active"><img src="assets/logo1.png" alt="Strona główna" style="width:60px; height: 80px;"></a></span></li>
        <li><a routerLink="/about" routerLinkActive="active">O aplikacji</a></li>
        <li><a routerLink="/diseases-list" routerLinkActive="active">Lista chorób</a></li>
        <li><a routerLink="/questionnaire" routerLinkActive="active">Diagnostyka</a></li>
      </ul>
    </nav>

  </div>

</div>

<router-outlet></router-outlet>
