<div align="center" class="about-wrap">
  <br><br>
  <h2>O aplikacji:</h2><br>
  <hr><br>
  <h3>Aplikacja do wstępnej diagnozy wybranych chorób na podstawie podanych objawów.</h3><br><br>
  <h3>Aby skorzystać z diagnostyki chorób dostępnej w ramach aplikacji:
  </h3><br>
  <div align="left" id="about-list">
    <ul>
      <li><h3>1. Wejdź na stonę z kwestionariuszem dotyczącym objawów. Możesz to zrobić za pomocą przycisku na stronie głównej, lub klikając na pozycję "Diagnostyka" w pasku menu.</h3></li>
      <li><h3>2. Zaznacz odpowiednie pola przy wstępnych pytaniach o posiadane wyniki badań i kliknij przycisk zapisz.</h3></li>
      <li><h3>3. Odpowiedz na  wyświetlane w dalszej części pytania.</h3></li>
      <li><h3>4. Jeżeli są objawy, które nie były uwzględnione w pytaniach kwestionariusza, skorzystaj z dostępnej na jego końcu listy wszystkich objawów dostępnych w ramach danej aplikacji.</h3></li>
      <li><h3>5. Jeżeli twoje objawy dawały dopasowanie minimum 50% dla którejkolwiek z obsługiwanych przez aplikację chorób, wyniki te wraz z opisem wyświetlą się na ekranie. W przeciwnym wypadku możesz spróbować wypełnić formularz jeszcze raz.</h3></li>
      <li><h3>6. Lista wszystkich obsługiwanych przez aplikację chorób dostępna jest pod pozycją "Lista chorób" na pasku menu.</h3></li>
    </ul>
  </div>

</div>
