@import "./src/colors.scss";

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

.about-wrap {
  margin:3%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  background-color: $navbar-bkg;
  border: 0.5px solid rgba(255, 255, 255, 0.268);
  border-radius: 10px;
  animation: fadein 1.5s;
  color:$form-text;
  font-size: 25px;


}
#about-list {
  width:80%;
  white-space: pre-wrap;


}
#about-list li{
  margin-top: 5%;
  margin-bottom: 5%;

}
